<div class="loginForm" *ngIf="taskService.loggedInToggleTaskPage == false else showLogOutButton" >

  <div id="userName">
    <label>Username</label>
    <input type="text" required="required" [(ngModel)]="username">
  </div>

  <div id="password">
    <label>Password</label>
    <input type="password" required="required" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
    [(ngModel)]="password">
  </div>

  <button id="loginButton" (click)="checkData(username,password)">Log in</button>
  <button id="registerButton" (click)="postData(username,password)">Click to register</button>

</div>

<ng-template #showLogOutButton>
  <button id="logoutButton" (click)="logOut()">LogOut</button>
</ng-template>


