h1{
  text-align: center;
  margin-top: 1em;
}

.addTask{
  margin: 2em 20% 3em;
  width: 60%;
  border: solid rgba(0,0,0,10%);
  padding: 1em;
}
#saveButton{
  float: right;

}

.addTask h2{
  text-align: center;
  margin-bottom: 2em;
}

#toTasks{
  margin-right: 45%;
  margin-left: 45%;
  width: 10%;
}

#name{
  margin-right: 2em;
}

a{
  color: black;
}

span{
  color: red;
}

#loginButton{
  margin-top: 2em;
  margin-right: 45%;
  margin-left: 45%;
  width: 10%;
}
